:root {
  --cor-azulNav: rgba(57, 108, 205, 0.8196);
  --cor-pesquisa: #F8F4EF;
  --cor-branca: #FFFFFF;
  --cor-azulEscuroRodape: rgba(90, 132, 210, 1);
  --cor-textRodape: rgba(255, 255, 255, 0.89);
  --cor-azulClaroRodape: rgba(149, 181, 241, 1);
  --cor-fundo: rgba(250, 243, 235, 1);
  --cor-btnEntrar: rgba(57, 108, 205, 0.8196);
  --cor-cinzaClaro: #F4F4F4;
  --cor-btnSair: rgba(176, 197, 255, 1) ;
  --cor-borda: #c6c7c87a;
  --cor-cards: #95b5f1;
}

body{
  margin: 0;
  padding: 0;
}

/* --- Nav --- */
.Nav{
  display: flex;
  flex-direction: row;
  background-color: var(--cor-azulNav);
  justify-content: center;
  text-align: center;
}

.Logo{
  width: 161px;
  margin-right: auto;
}

.TextNav{
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: var(--cor-branca);
}

.IconNav{
  display: flex;
  flex-direction: row;
}

.IconsNav{
  width: 110px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none !important;
}

.btnSair{
    background-color: var(--cor-btnSair);
    color: var(--cor-branca);
    font-size: 18px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    border: none;
    width: 89px;
    height: 36px;
  cursor: pointer;
}

.Logo{
  width: 161px;
  margin-right: auto;
}

/* Estilização geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f0e9; /* Fundo claro como o da imagem */
}

section.ListaPacMed {
    padding: 20px;
    background-color: var(--cor-fundo);
    height: 675px;
}

.TitlePM h2 {
    text-align: center;
    font-family: 'Concert One', cursive;
    color: #000000;
}

.containertabela {
    width: 80%;
    margin: 0 auto;
    padding: 21px;
}

table.tabela {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #eff3fc;
}

table.tabela thead {
    background-color: var(--cor-azulNav);
    color: white;
}

table.tabela th, table.tabela td {
    padding: 12px 15px;
    text-align: left;
    font-family: 'Poppins';
    font-weight: lighter;
    text-align: center;
}

table.tabela tbody tr:nth-child(odd) {
    background-color: #d8e3ff;
}

table.tabela tbody tr:nth-child(even) {
    background-color: #eff3fc;
}

table.tabela tbody tr:hover {
    background-color: #c1d1f0;
}

table.tabela tbody td a img.icone {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}

table.tabela tbody td a img.icone:hover {
    opacity: 0.8;
}

/* Estilos adicionais para o botão de excluir (vermelho) */
table.tabela tbody td a img[src*="Excluir"] {
    filter: brightness(0) saturate(100%) invert(32%) sepia(93%) saturate(4898%) hue-rotate(347deg) brightness(93%) contrast(103%);
}

/* Estilos adicionais para o botão de editar (azul) */
table.tabela tbody td a img[src*="Editar"] {
    filter: brightness(0) saturate(100%) invert(54%) sepia(40%) saturate(1825%) hue-rotate(189deg) brightness(92%) contrast(104%);
}

/* --- Rodapé --- */
.RodInformacoes{
    display: flex;
    background-color: var(--cor-azulEscuroRodape);
    justify-content: center;
    align-items: center;
}

.TextoRodape{
    color: var(--cor-textRodape);
    padding: 20px 63px;
}

.tituloRod {
    font-family: "Concert One", sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textRod {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 216px;
}

.textRodDois {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 306px;
}

.RodRedes{
    background-color: var(--cor-azulClaroRodape);
}

.Redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 78px;
}

.imgRod{
    width: 45px;
    padding: 9px;
    margin: 11px 5px;
}